.container-page-content {
  display: flex;
  justify-content: center;
}

.main-pic {
  width: 100%;
}

#main-links {
  display: flex;
  justify-content: center;
  background-color: goldenrod;
}

.product {
  margin: 10px;
  width: 35%;
}
.links.active {
  background-color: red;
}
.nav {
  display: flex;
  justify-content: flex-end;
}

.thumbnail {
  width: 90%;
}
.product-grid {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
}

.facts {
  display: flex;
  width: 1200px;
  margin: 15px;
  height: 300px;
}
.fact-page {
  display: flex;
  justify-content: center;
}
.the-facts {
  background-color: lightcoral;
}
.weather-page {
  background-color: lightskyblue;
}
.product-page {
  background-color: lightsalmon;
}
.fails-page {
  background-color: peru;
}
.links {
  margin: 10px;
}
.fact-pics {
  width: 35%;
}
.sub-fact {
  background-color: antiquewhite;
}
.fails-container {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
}
.video-links {
  margin: 15px;
  width: 40%;
}
.product-title {
  display: flex;
  justify-content: center;
}
